

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- <link rel="stylesheet" href="css/header.css"> -->
    <style>
        footer{
            background:#03c47a;
            color:white;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            width:100%;
            padding:20px;
        }
        header img{
            filter: invert(1);
        }
        </style>
</head>
<body>
    
    <header id="navigation">
        <ul class="flex j-between primary-bg a-center" id='navbar' style="padding:20px 30px; cursor: pointer;">
            <li class='logo'><img src="{% static '/logo.png' %}" width="20px" alt='Logo'></li>
            <li class='nav'>
                <ul class='flex j-between a-center nav'>
                    <li class="nav-item"><a href="./index.html">Home</a></li>
                    <li class='nav-item cta'><a href="getadmission" class="border-secondary">Get Admission</a></li>
                </ul>
            </li>
        </ul>
    </header>

    

    {% block body %} 

    {% endblock %}
    
    
    
    
    
    
<footer>&copy; Copyright The Intern Coders 2019</footer>


</body>
</html>