<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/header.css">
</head>
<body>
    
    <header id="navigation">
        <ul class="flex j-between primary-bg a-center" id='navbar'>
            <li class='logo'><h2>TIC</h2></li>
            <li class='nav'>
                <ul class='flex j-between a-center nav'>
                    <li class="nav-item"><a href="./index.html">Home</a></li>
                    <li class='nav-item cta'><a href="./admission/index.html" class="border-secondary">Get Admission</a></li>
                </ul>
            </li>
        </ul>
    </header>
    
</body>
</html>

